extends layout

block content
  div(class="content-experience")
    div(class="title-experience")
      h1= title
    div(class="experiment-text")
      p Welcome to #{title}
      hr
      a(href="http://localhost:9000" class="button-start") Start Experience
      hr
      a(href="experiment" class="button-start") View Gallery
      hr
